spring:
  application:
    name: config-default

  datasource: 
    url: jdbc:postgresql://aws-0-ap-south-1.pooler.supabase.com:5432/postgres
    username: postgres.gmeqjfecykahhgyrukca
    password: Patel@123Yash

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    hibernate:
      ddl-auto: update
    show-sql: true

management:
  tracing:
    sampling:
      probability: 1.0

eureka:
  client:
    service-url:
      defaultZone: https://microservice-service-registry-qgma.onrender.com/eureka
    register-with-eureka: true
    fetch-registry: true
